:root {
  --bg: #d6d5d5;            
  --text: #1C1C1C;           
  --primary: #45014f;        
  --accent-aqua: #00b4b4;    
  --card-bg: #ececec;
  --border-radius: .3rem;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
  padding: 2rem;
}
